.backgroundImg{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background: url('https://upload.wikimedia.org/wikipedia/commons/e/ec/Record-Album-02.jpg') no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-background-size:cover;
    background-size: cover;
    -webkit-filter:blur(5px);
    -moz-filter:blur(5px);
    -o-filter:blur(5px);
    -ms-filter:blur(5px);
    filter:blur(5px);
}
.contenuSite{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}
#play{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 43.3px;
    border-color: transparent transparent transparent #9c9d9e;
    outline: 0;
    background: none;
}
