#play{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 43.3px;
    border-color: transparent transparent transparent #9c9d9e;
    outline: 0;
    background: none;
}