*{
    box-sizing: border-box;
}
body {
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: "Cormorant Upright", sans-serif;
}
#title{
    text-align: center;
    color: #fff;
    font-size: 25px;
}
div{
    display: block;
    width: 150px;
    height: 150px;
    margin : auto;
}
nav{
    background-color: white;
    text-align: center;
}
nav li, footer li{
    display: inline-block;
    width : 150px;
    height: 25px;
    text-align: center;
}
nav a{
    display: block;
    font-family: "Cambria";
    font-size: 15px;
    text-decoration: none;
    height: 25px;
    line-height: 25px;

}
a:link, a:visited, a:active{
    color: #000;
}

article {
    display: inline-block;
    text-align: justify;
    margin-bottom: 5px;
    background: white;
    color: black;
    padding: 20px;
    width:45%;
}
p{
    font-family: "Calibri";
    font-size: 15px;
}
footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    color : black;
}
@media screen and (max-width:860px) {
    article {
        width: 100%;
    }
}
@media screen and (min-width:617px) and (max-width:923px) {
    nav li {
        width: 100px;
    }
}
@media screen and  (max-width:617px) {
    nav li {
        width: 100%;
    }
}
@media screen and (max-width:200px){
    div{
        background-color: blue;
        transition : background 1s;
    }
}
@media screen and (min-width:201px) and (max-width:400px){
    div{
        background-color: black;
        transition : background 1s;
    }
}
@media screen and (min-width:401px) and (max-width:600px){
    div{
        background-color: green;
        transition : background 1s;
    }
}
@media screen and (min-width:601px){
    div{
        background-color: red;
        transition : background 1s;
    }
}
/*FORMULAIRE*/
#bodyPage2{
    text-align: center;
    font-family: "Times New Roman";
}
.border{
    width: 100px;
    height: 20px;
    border-style:solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: black;
}
#textarea{
    border-style:solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: black;
}
.border:active, .border:focus, #textarea:active, #textarea:focus{
    border-style: solid;
    border-color: darkblue;
}
.border:hover, #textarea:hover{
    border-style: solid;
    border-color: lightblue;
}
